@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --bg-gradient: linear-gradient(180deg, #020d29 0%, #02080a 100%);
} */

.gg {
  /* position: absolute; */

  width: 400px; /* Adjust width to match the container */
  height: 600px; /* Adjust height for the blob size */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(15, 199, 122, 0.4) 0%,
    transparent 70%
  );
  filter: blur(100px);
}

body {
  margin: 0;
  padding: 0;
  background: #060a15;
  color: white;
  font-family: "Inter", sans-serif; /* Replace with your desired font */

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
}
